@import url("./variables.css");

.filter {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 30px;
  border-radius: 30px;
}

.input {
  text-indent: 5px;
  caret-color: var(--color-label);
  border-radius: 10px;
  flex-basis: auto;
  border: 1px solid var(--bg-color-primary);
  outline-color: var(--color-label);
}
